/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css */

body {
    width: 100%;
    background: navy;
    color: white;
}

header {
    margin: 2% auto;
    text-align: center;
    font-size: 1.62rem;
}

.content {
    width: 90%;
    margin: 1% auto;
    text-align: center;
}

h2 {
    margin: 2%;
    font-size: 1.23rem;
}

.content p {
    margin: 4% auto;
    font-size: 1.02rem;
    line-height: 1.3;
    text-align: left;
}

button {
    background-color: blue;
    padding: 1% 5% 1% 5%;
    color: white;

}
    


img {
    width: 100%;
    margin-top: 2%;
    height: 400px;
}

@media(min-width: 560px) {

    body {
        width: 90%;
        margin: 0 auto; 
    }

}

@media(min-width: 835px) {
    body {
        max-width: 1200px;
        margin-top: 10%;
        background-color: cornflowerblue;
    }

    header {
        border-bottom: 1px solid black;
        background-color: blue;
        width: 90%;
        margin: 0 auto;
        padding-top: 2%;
    }

    img {
        width: 90%;
        padding: 4%;
    }

    .content {
        width: 90%;
        display: flex;
        flex-flow: row nowrap;
        background-color: blue;
        margin: 0 auto;
    }

    .info {
        padding: 5%;
    }
}